.content {
  width: 100%;
  padding-bottom: 0; }
  .content .aboutus {
    display: flex;
    flex-direction: row;
    background-image: url(../images/menu-background.jpg);
    width: 100%;
    color: white;
    height: 100vh; }
    .content .aboutus .heading {
      position: absolute;
      left: 45%;
      font-size: 160%; }
      .content .aboutus .heading h2 {
        font-family: "Open Sans";
        margin-bottom: 10%; }
      .content .aboutus .heading h1 {
        line-height: 50%;
        font-family: "Coustard"; }
    .content .aboutus img {
      margin-right: 5%;
      width: 50%;
      height: 60vh;
      align-self: center; }
    .content .aboutus p {
      align-self: flex-end;
      margin-bottom: 10%;
      font-family: "Open Sans";
      font-size: 120%;
      line-height: 180%; }
  .content .coverdiv {
    position: relative;
    background-image: url(../images/cafeinterior.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 90vh;
    width: 100%;
    margin: 0; }
  .content .pictures {
    height: 3300px;
    width: 100%;
    background-image: url(../images/menu-background.jpg);
    position: relative; }
    .content .pictures div {
      box-shadow: 0 0 5rem rgba(0, 0, 0, 0.75);
      position: absolute; }
    .content .pictures #div0 {
      z-index: 39;
      top: 7%;
      left: 45%; }
    .content .pictures #div1 {
      z-index: 40;
      left: 15%;
      top: 18%; }
    .content .pictures #div2 {
      z-index: 39;
      left: 50%;
      top: 33%; }
    .content .pictures #div3 {
      z-index: 40;
      left: 55%;
      top: 47%; }
      .content .pictures #div3 img {
        width: 80%;
        height: 80%; }
    .content .pictures #div4 {
      z-index: 41;
      left: 10%;
      top: 43%; }
    .content .pictures #div5 {
      z-index: 41;
      left: 10%;
      top: 63%; }
    .content .pictures #div6 {
      z-index: 42;
      left: 40%;
      top: 77%; }

.arrow {
  background-color: Transparent;
  border: none;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-image: url(../images/arrows.png); }
  .arrow:focus {
    outline: none; }
  .arrow:hover {
    cursor: pointer; }
