.landing {
  display: flex;
  position: absolute;
  background: url(../images/menu-background.jpg);
  width: 100%;
  background-size: auto;
  background-repeat: repeat-y; }

.content {
  display: flex;
  flex-grow: 1;
  text-align: center;
  color: white;
  height: 100%; }
  .content .items {
    margin-left: 12%;
    margin-top: 5%;
    width: 50%;
    text-align: left;
    font-size: 120%;
    font-family: "Open Sans", serif; }
    .content .items .item {
      height: auto;
      margin-bottom: 15%; }
      .content .items .item h1 {
        margin-top: 0;
        font-family: "Coustard", serif; }
      .content .items .item ul {
        margin-right: 20%;
        padding: 0;
        list-style-type: none; }
  .content .pictures {
    z-index: 1;
    position: fixed;
    right: 0%;
    height: 100vh;
    width: 45%; }
    .content .pictures img {
      display: block;
      margin: 0;
      height: 50vh;
      width: 100%; }
  .content .order {
    position: fixed;
    top: 5%;
    right: 3%; }
    .content .order a {
      text-decoration: none;
      color: white;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 130%;
      padding: 15px;
      border: 2px white solid;
      margin: 0; }
    .content .order a:hover, .content .order a:active {
      background-color: white;
      color: #222; }
