body, html {
  margin: 0;
  padding: 0; }

p {
  font-family: 'Open Sans', sans-serif; }

.closed {
  transition: all 0.5s;
  height: 100vh;
  display: flex;
  background-color: #222;
  width: 80px;
  justify-content: center;
  align-items: center;
  position: fixed; }
  .closed .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: space-between; }
    .closed .nav #home img {
      transition: 0.5s ease-in-out;
      margin: 0;
      margin-top: 30px;
      height: 50px;
      width: 50px; }
    .closed .nav ul {
      visibility: hidden;
      opacity: 0;
      margin-top: 60px;
      padding: 0;
      list-style-type: none;
      text-transform: uppercase; }
      .closed .nav ul li {
        font-family: 'Coustard', serif;
        margin-top: 20px;
        text-align: center;
        font-size: 190%; }
        .closed .nav ul li a {
          color: white;
          text-decoration: none; }
    .closed .nav .info {
      visibility: hidden;
      opacity: 0; }
      .closed .nav .info h2 {
        margin-bottom: 40px; }
    .closed .nav .media {
      display: flex;
      flex-direction: column; }
      .closed .nav .media img {
        margin: 10px 8px;
        padding: 0;
        height: 40px;
        width: 40px; }
  .closed .menu {
    transition: all 0.5s;
    position: absolute;
    align-self: center;
    right: 25%; }
    .closed .menu button {
      width: 40px;
      height: 40px; }

.navigation {
  z-index: 2;
  transition: all 0.5s ease-in-out;
  height: 100vh;
  display: flex;
  background-color: #222;
  width: 350px;
  max-width: 100vh;
  justify-content: center;
  position: fixed; }
  .navigation .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: space-between; }
    .navigation .nav #home img {
      transition: 0.5s ease-in-out;
      margin: 0;
      margin-top: 30px;
      height: 100px;
      width: 100px;
      margin-left: 15px; }
    .navigation .nav ul {
      visibility: visible;
      opacity: 1;
      transition: opacity 1s ease-in-out 0.7s;
      margin-top: 60px;
      padding: 0;
      list-style-type: none;
      text-transform: uppercase; }
      .navigation .nav ul li {
        font-family: 'Coustard', serif;
        margin-top: 20px;
        text-align: center;
        font-size: 190%; }
        .navigation .nav ul li a {
          color: white;
          text-decoration: none; }
    .navigation .nav .info {
      visibility: visible;
      opacity: 1;
      transition: opacity 1s ease-in-out 1.7s; }
      .navigation .nav .info h2 {
        margin-bottom: 40px; }
    .navigation .nav .media {
      display: flex;
      flex-direction: row; }
      .navigation .nav .media img {
        margin: 20px 8px;
        padding: 0;
        height: 40px;
        width: 40px; }
  .navigation .menu {
    transition: all 0.5s;
    position: absolute;
    align-self: center;
    right: 3%;
    color: white; }
    .navigation .menu button {
      width: 40px;
      height: 40px; }

.content .order {
  position: absolute;
  top: 5%;
  right: 3%; }
  .content .order a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 130%;
    padding: 15px;
    border: 2px white solid;
    margin: 0; }
  .content .order a:hover, .content .order a:active {
    background-color: white;
    color: #222; }
