body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  display: flex; }

p {
  font-family: 'Open Sans', sans-serif; }

.navigation {
  height: 100%;
  display: flex;
  background-color: #222;
  width: 350px;
  justify-content: center;
  position: relative; }
  .navigation .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: space-between; }
    .navigation .nav #home img {
      margin: 0;
      margin-top: 60px;
      height: 100px;
      width: 100px;
      margin-left: 15px; }
    .navigation .nav ul {
      margin-top: 60px;
      padding: 0;
      list-style-type: none;
      text-transform: uppercase; }
      .navigation .nav ul li {
        font-family: 'Coustard', serif;
        margin-top: 20px;
        text-align: center;
        font-size: 190%; }
        .navigation .nav ul li a {
          color: white;
          text-decoration: none; }
    .navigation .nav .info h2 {
      margin-bottom: 40px; }
    .navigation .nav .media {
      align-self: flex-end; }
      .navigation .nav .media img {
        margin: 20px 8px;
        padding: 0;
        height: 40px;
        width: 40px; }
  .navigation .menu {
    position: absolute;
    align-self: center;
    right: 3%; }
    .navigation .menu button {
      width: 40px;
      height: 40px; }
