doctype html
html
    head
        title Coffee Shop
        meta(charset="UTF-8")
        meta(name="description", content="Coffe Shop")
        meta(name="keywords", content="Coffee,Cowork,Tea,Relax")
        meta(name="author", content="Jovan Petkovic")
        //build:css css/main.min.css    
        link(rel="stylesheet", type="text/css", href="css/nav.css")
        link(rel="stylesheet", type="text/css", href="css/aboutus.css")
        //endbuild
        link(href="https://fonts.googleapis.com/css?family=Coustard|Open+Sans:300",rel="stylesheet")
    body
        .landing
            .closed
                .nav
                    a(href="#", target="_blank", id="home")
                        img(src="images/cup.png", alt="")
                    ul
                        li 
                            a(href="menu.html", target="_blank") Menu
                        li
                            a(href="#", target="_blank") Coffee
                        li
                            a(href="aboutus.html", target="_blank") About Us
                        li
                            a(href="#", target="_blank") News
                        li
                            a(href="#", target="_blank") Gallery
                    .info
                        h2 City
                        p Working Hours
                        p Adress
                        p Phone Number
                    .media
                        a(href="#", target="_blank")
                            img(src="images/facebook.svg", alt="Facebook")
                        a(href="#", target="_blank")
                            img(src="images/snapchat.svg", alt="Snapchat")
                        a(href="#", target="_blank")
                            img(src="images/instagram.svg", alt="Instagram")
                .menu
                    button
            .content
                .aboutus
                    img(src="images/makingcoffee.jpg", alt="")
                    .heading
                        h2 We don't make street coffee
                        h1 We make
                        h1 enjoyable coffee
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        br
                        br
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    button.arrow
                .coverdiv   
                .pictures
                    div(id='div0', data-speed='50')
                        img(src="images/parallax/pexels-photo.jpg", alt="" )
                    div(id='div1', data-speed='75')
                        img(src="images/parallax/pexels-photo-1.jpeg", alt="")
                    div(id='div2', data-speed='100')
                        img(src="images/parallax/pexels-photo-2.jpeg", alt="")
                    div(id='div3', data-speed='125')
                        img(src="images/parallax/pexels-photo-3.jpeg", alt="")
                    div(id='div4', data-speed='150')
                        img(src="images/parallax/pexels-photo-4.jpeg", alt="")
                    div(id='div5', data-speed='175')
                        img(src="images/parallax/pexels-photo-5.jpeg", alt="")
                    div(id='div6', daya-speed='200')
                        img(src="images/parallax/pexels-photo-6.jpeg", alt="")
                .order
                    a(href="#", target="_blank") Order Online
script(type="application/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
//build:js js/main.min.js
script(type="application/javascript", src="js/aboutus.js")
script(type="application/javascript", src="js/navigation.js")
//endbuild
