doctype html
html
    head
        title Coffee Shop
        meta(charset="UTF-8")
        meta(name="description", content="Coffe Shop")
        meta(name="keywords", content="Coffee,Cowork,Tea,Relax")
        meta(name="author", content="Jovan Petkovic")
        link(rel="stylesheet", type="text/css", href="css/main.css")
    body
        .navigation
            .nav
                a(href="#", target="_blank", id="home")
                    img(src="images/cup.png", alt="")
                ul
                    li 
                        a(href="#", target="_blank") Menu
                    li
                        a(href="#", target="_blank") Coffee
                    li
                        a(href="#", target="_blank") About Us
                    li
                        a(href="#", target="_blank") News
                    li
                        a(href="#", target="_blank") Gallery
                .info
                    h2 City
                    p Working Hours
                    p Adress
                    p Phone Number
                .media
                    a(href="#", target="_blank")
                        img(src="images/facebook.svg", alt="Facebook")
                    a(href="#", target="_blank")
                        img(src="images/snapchat.svg", alt="Snapchat")
                    a(href="#", target="_blank")
                        img(src="images/instagram.svg", alt="Instagram")
            .menu
                button(type="", )
        .content
            .order
                a(href="#", target="_blank") Order Online
